## Build Folders
bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

## ASP.NET / ASP.NET Core
appsettings.Development.json
appsettings.*.json
secrets.json

## NuGet
*.nupkg
packages/
*.snupkg

## DotNet
project.lock.json
project.fragment.lock.json
artifacts/

## Azure
PublishProfiles/
*.publishsettings

## IIS / IIS Express
iisexpress/
*.vspscc
*.vssscc
*.dbmdl
*.jfm

## SQL Server / EF
*.mdf
*.ldf
*.ndf
Migrations/

## Logs
*.log
*.tlog

## Compiled Files
*.dll
*.exe
*.cache
*.pdb

## User-specific files
*.rsuser
*.sln.ide
*.resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## JetBrains Rider
.idea/
*.sln.iml

## Other
Thumbs.db
Desktop.ini
*.tmp
*.bak
